<template>
<div id="auth">
  <transition name="modal">
    <div class="auth-modal-mask">
      <div class="modal-container">
        <div id="firebaseui-auth-container">
        </div>
      </div>
    </div>
  </transition>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import firebase from 'firebase'

import { fbUiApp } from '../data/auth'

const uiConfig = {
  signInSuccessUrl: '/',
  signInOptions: [
    firebase.auth.GoogleAuthProvider.PROVIDER_ID,
    firebase.auth.EmailAuthProvider.PROVIDER_ID
  ],
  tosUrl: '/#/tos'
}

export default {

  name: 'Auth',

  computed: {
    ...mapGetters({
      fbUiApp: 'fbUiApp'
    })
  },

  mounted () {
    fbUiApp.start('#firebaseui-auth-container', uiConfig)
  },

  destroyed () {
    fbUiApp.reset()
  }
}
</script>

<style lang="css" scoped>
#auth {
}
.modal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.auth-modal-mask {
  background: rgba(0,0,0,.3);
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-out;
}
#firebaseui-auth-container {
  z-index: 9999;
  width: 100%;
  max-width: 300px;
  max-height: 600px;

  background: white;
  border-radius: 2px;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,.2);
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>