<template>
  <div id="note-editor">
    <textarea 
    :value="activeNote.text"
    :disabled="!notes.length"
    @input="editNote"
    ></textarea>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { fbApp } from '../data/auth'

const db = fbApp.database()
let notesRef = null

export default {
  name: 'Editor',

  mounted () {
    fbApp.auth().onAuthStateChanged(user => {
      if (user) {
        notesRef = db.ref(`${user.uid}/notes`)
      }
    })
  },
  methods: {
    editNote (e) {
      this.$store.dispatch('editNote', e)

      const activeNote = this.$store.getters.activeNote
      if (notesRef) {
        notesRef.child(activeNote['.key']).update({
          text: e.target.value
        })
      } else {
        console.log('User is not signed in')
      }
    }
  },
  computed: {
    ...mapGetters([
      'notes',
      'activeNote'
    ])
  }
}
</script>

<style lang="css" scoped>
#note-editor {
  width: 100%;
}

#note-editor textarea {
  font-family: 'Playfair Display';
  width: 100%;
  height: 90vh;
  padding: 20px;
  border: none;
  font-size: 1rem;
}
#note-editor textarea:focus {
  outline: none;
}
</style>