<template>
  <div id="notes">
    <toolbar></toolbar>
    <div class="editor-body">
      <notes-list></notes-list>
      <editor></editor>
    </div>
    <Auth v-if='signInModalShown'></Auth>
  </div>
</template>

<script>
import Toolbar from './Toolbar.vue'
import NotesList from './NotesList.vue'
import Editor from './Editor.vue'
import Auth from './Auth.vue'

import { mapGetters } from 'vuex'

export default {
  name: 'app',
  components: {
    Toolbar,
    NotesList,
    Editor,
    Auth
  },
  computed: {
    ...mapGetters([
      'signInModalShown'
    ])
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: #222;

  max-height: 100vh;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.editor-body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: row;
  max-height: 90vh;
}
</style>
