<template>
<div id="notes-list">

  <div class="list-header">
    <h2>Notes</h2>
    <div class="btn-group">
      <button type="button"
      class="btn"
      @click.prevent="show = 'all'"
      :class="{active: show === 'all'}">
        All
      </button>
      <button type="button"
      class="btn"
      @click="show = 'favorites'"
      :class="{active: show === 'favorites'}">
        Favorites
      </button>
    </div>
  </div>

  <div class="notes-list">
      <transition-group name="fade-list" tag="div">
        <a v-for="note in notes"
        :key="note['.key']"
        href="#0"
        class="notes-list__item"
        :class="{active: activeNote['.key'] === note['.key']}"
        @mousedown="updateActiveNote(note)">
          <i v-if="note.favorite" class="fa fa-star"></i>
          <h4>{{trimmedNoteText(note)}}</h4>      
        </a>
      </transition-group>
  </div>
  
</div>
</template>

<script>
import draggable from 'vuedraggable'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      show: 'all'
    }
  },
  components: {
    draggable
  },
  computed: {
    ...mapGetters({
      notes: 'notes',
      activeNote: 'activeNote'
    }),
    filteredNotes () {
      if (this.show === 'all') {
        return this.$store.getters.notes
      } else if (this.show === 'favorites') {
        return this.$store.getters.notes.filter(note => note.favorite)
      }
    }
  },
  methods: {
    updateActiveNote (note) {
      this.$store.dispatch('updateActiveNote', note)
    },
    trimmedNoteText (note) {
      const firstNewLineIndex = note.text.indexOf('\n')
      console.log(firstNewLineIndex)
      if (firstNewLineIndex < 30) {
        return note.text.trim().substring(0, 30) + (note.text.length > 30 ? '...' : '')
      } else {
        return note.text.trim().substring(0, firstNewLineIndex)
      }
    }
  }
}
</script>

<style lang="css" scoped>
#notes-list {
  min-width: 300px;
  background: #f2f4f4;
  display: flex;
  flex-direction: column;
}

#notes-list .btn-group {
  display: flex;
  flex-direction: row;
}

#notes-list button {
  transition: color .1s ease-out,
              background-color .1s ease-out;
  flex-grow: 1;
  border: none;
  background: white;

  padding-top: 10px;
  padding-bottom: 10px;
}

#notes-list button:focus {
  outline: none;
}

#notes-list button.active {
  background-color: #4e4b5c;
  color: white;
} 

#notes-list button:hover {
  cursor: pointer;
  background-color: #4e4b5c;
  color: white;
}

.list-header {
  width: 100%;
  text-align: center;
}

.notes-list {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.notes-list__item {
  background: white;
  color: #222;
  
  position: relative;

  display: block;
  
  width: 100%;
  text-decoration: none;
  padding-left: 10px;
}

.notes-list__item h4 {
  margin: 0;
  padding: 15px 0 15px 10px;
}

.notes-list__item i {
  margin-right: 10px;
  position: absolute;

  right: 0;
  top: 10px;
}

.notes-list__item.active {
  background: #29AFE7;
  color: white;
}

.fade-list-enter-active,
.fade-list-leave-active {
  transition: opacity .15s;
}

.fade-list-enter, 
.fade-list-leave-to {
  opacity: 0;
}

.fade-list-move {
  transition: transform .2s;
}

.sortable-ghost {
}
</style>