<template>
<div id="toolbar">
  <i @click="addNote" class="fa fa-plus"></i>
  <i @click="toggleFavorite(activeNote['.key'])" 
    class="fa fa-star" 
    :class="{starred: activeNote.favorite}"></i>
  <i @click="deleteNote(activeNote['.key'])" class="fa fa-trash"></i>
  <button @click="signIn">Sign In</button>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import { fbApp } from '../data/auth'

const db = fbApp.database()
let notesRef = db.ref(`notes`)

export default {
  data () {
    return {}
  },
  mounted () {
    fbApp.auth().onAuthStateChanged(user => {
      if (user) {
        notesRef = db.ref(`${user.uid}/notes`)
      }
    })
  },
  methods: {
    addNote () {
      notesRef.push({
        // user: this.$store.getters.user,
        text: `New Note + ${this.$store.getters.totalNotes}`,
        favorite: false
      })
    },
    deleteNote (key) {
      notesRef.child(key).remove()
    },
    toggleFavorite (key) {
      const favorite = !this.$store.getters.activeNote.favorite
      this.$store.dispatch('toggleFavorite')
      notesRef.child(key).update({
        favorite: favorite
      })
    },
    signIn () {
      this.$store.dispatch('showSignInModal')
    }
  },
  computed: {
    ...mapGetters({
      activeNote: 'activeNote',
      currentUser: 'currentUser',
      totalNotes: 'totalNotes'
    })
  }
}
</script>

<style lang="css" scoped>
#toolbar {
  background-color: #4e4b5c;
  width: 100%;
  height: 10vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}
#toolbar i {
  display: block;
  font-size: 2rem;
  color: rgba(255,255,255,0.7);
  margin-right: 20px;
  transition: color .3s ease-out;
}

#toolbar i:hover {
  color: white;
  cursor: pointer;
}

#toolbar i.starred {
  color: #f2af29;
}

#toolbar i.fa-trash:hover {
  color: #ad343e;
}
</style>